<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>website base</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>

    <script type=text/javascript>
    			$(function() {
    			  $('a#process_input').bind('click', function() {
    				$.getJSON('/background_process', {
    				  proglang: $('textarea[id="proglang"]').val(),
    				}, function(data) {
    				  $("#result").text(data.result);
    				});
    				return false;
    			  });
    			});


</script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{url_for('index')}}">homepage</a>
    </nav>
    <div class="jumbotron" >
      <h1>welcome to the convertor</h1>
      <h2>Please follow the rules for  thred  cf fcytfc cg writing the pseudo-code. Please Be careful with the syntax</h2>
      <img src="../static/rules.JPG" alt="">
    </div>
    <div class='container'>
		<h3>Enter the code to be converted</h3>
			<form>
        <textarea id="proglang" rows="10" cols="100"></textarea>
        <br><br>
      	<a href=# id=process_input><button class='btn btn-default'>Submit</button></a>
			</form>
      <br><br>
      <pre>
      <p id=result></p>
      </pre

      </div>
  </body>
</html>
